/* General Styling */
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    --main-color: #20B2AA;
}

.container {
    margin: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 700px) {
  .container {
    justify-content: center;
  }
}

/* Header */
header {
    background-color: var(--main-color);
    width: 100%;
    padding: 10px;
}

@media (max-width: 700px) {
  #headerContent {
      padding-left: 0px !important;
  }
}

#headerImg img{
    border-radius: 50%;
    width: 200px;
}

#headerContent {
    padding-left: 50px;
}

.minimise img {
  transition: 0.5s linear all;
  width: 100px !important;
}

.maximise img {
  transition: 0.5s linear all;
  width: 200px !important;
}

.minimise h1 {
  transition: 0.5s linear all;
  font-size: 18px;
}

.maximise h1 {
  transition: 0.5s linear all;
  font-size: 32px;
}

.minimise p {
  transition: 0.5s linear all;
  font-size: 12px;
}

.maximise p {
  transition: 0.5s linear all;
  font-size: 16px;
}

/* Nav */
nav{
    overflow: hidden;
    background-color: #fff;
}

nav button {
    outline: none;
    letter-spacing: 1px;
    background-color: #ccc;
    float: left;
    border: 0;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: bold;
}

nav button:hover {
    background-color: #ddd;
}

nav button.active {
    background-color: #fff;
}

/* Main */
.content {
    display: none;
    padding: 6px 12px;
    position: relative;
    animation: slideIn 0.5s;
}

main {
  padding-bottom: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.galleryItem {
    padding: 25px;
    width: 200px;
}

.galleryItem img {
    width: 200px;
}

.galleryItem h3 {
    text-align: center;
}

.galleryItem p {
    opacity: 0;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: -275px;
    margin-left: -8px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 16px;
}

.galleryItem:hover p {
    opacity: 1;
}

.galleryItem h3{
    color: black;
    text-decoration: none;
}

.galleryItem a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
  transition: 0.5s linear all;
  position: fixed;
  bottom: 0;
  background-color: var(--main-color);
  width: 100%;
  margin-top: 30px;
  text-align: center;
  padding: 15px;
}

.minimiseFooter img{
  transition: 0.5s linear all;
  width: 40px;

}

.maximiseFooter img{
  transition: 0.5s linear all;
  width: 70px;
}

.social img {
  padding: 8px;
}

.social img:hover {
  transform: scale(1.2);
}

/* Animations */
@keyframes slideIn {
    from {left: -1000px;}
    to {left: 0px;}
}